In [1]:
import pandas as pd

In [2]:
from datetime import date

In [4]:
ventas = pd.read_csv('../data/raw/ventas.txt', sep='|')

In [5]:
ventas.rename(columns={'fecha':'fecha_venta'}, inplace=True)

In [6]:
ventas['fecha_venta'] = pd.to_datetime(ventas['fecha_venta'])

In [7]:
ventas['fecha_venta_norm'] = ventas['fecha_venta'].apply(lambda x : date(x.year,x.month,1))

In [8]:
aggregattion = {
    'unidades': {
        'unidades': 'sum',
        'unidades_max': 'max',
        'unidades_min': 'min',
        'unidades_avg': 'mean',
        'num_ventas' : 'count'
    },
    'fecha_venta':{
        'fecha_venta_max': 'max',
        'fecha_venta_min': 'min'
        
    }
    
}

In [9]:
ventas = ventas.groupby(['id_pos','fecha_venta_norm','canal']).agg(aggregattion).reset_index()

/opt/anaconda3/envs/signalenv/lib/python3.7/site-packages/pandas/core/groupby/generic.py:1315: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

In [10]:
ventas.head()

  id_pos fecha_venta_norm    canal unidades                            \
                                   unidades unidades_max unidades_min
0   3142       2012-12-01  ALMACEN       12            9            1
1   3142       2013-12-01  ALMACEN        7            2            1
2   3143       2013-11-01  ALMACEN        2            2            2
3   3143       2013-12-01  ALMACEN       47           12            1
4   3144       2012-11-01  ALMACEN        6            1            1

                              fecha_venta
  unidades_avg num_ventas fecha_venta_max fecha_venta_min
0     4.000000          3      2012-12-18      2012-12-10
1     1.166667          6      2013-12-24      2013-12-03
2     2.000000          1      2013-11-30      2013-11-30
3     3.357143         14      2013-12-23      2013-12-04
4     1.000000          6      2012-11-29      2012-11-01

In [11]:
# Renombramos las columnas
ventas.columns = ['id_pos' , 'fecha_venta_norm' , 'canal', 'unidades',
                  'unidades_max', 'unidades_min', 'unidades_avg', 'num_ventas', 
                  'fecha_venta_max', 'fecha_venta_min'
                 ]

In [12]:
# Load Pos data
pos = pd.read_csv('../data/raw/pos.csv')

In [13]:
pos = pos[pos['id_pos'].isnull() != True]

In [14]:
pos = pos[pos['id_pos']!='Not Available']

In [15]:
ventas.shape

(35818, 10)

In [16]:
# convertimos a int para poder cruzar con informacion de venta
pos['id_pos'] = pos['id_pos'].astype(int)

In [17]:
train = pd.merge(ventas, pos, how='inner', on='id_pos')

train.rename(columns={'fecha':'fecha_venta'}, inplace=True)

In [18]:
print("Num. id_pos de ventas: ",ventas.id_pos.nunique())

Num. id_pos de ventas:  12302

In [19]:
print("Num. id_pos de train (ventas x pos) : ",train.id_pos.nunique())

Num. id_pos de train (ventas x pos) :  11853

In [20]:
print("Num. id_pos no encontrados: " , ventas.id_pos.nunique() - train.id_pos.nunique())

Num. id_pos no encontrados:  449

In [21]:
train.to_csv('../data/processed/train_aggr.csv', sep=';', index=False)

In [37]:
submittion[submittion.id_pos.isin(pos.id_pos)]['id_pos'].nunique()

12896