In [1]:
import pandas as pd

In [2]:
from datetime import date

In [3]:
# Load data envios
envios = pd.read_csv('../data/raw/envios.txt', sep='|')

In [4]:
envios.shape

(42434, 4)

In [5]:
envios['fecha'] = pd.to_datetime(envios['fecha'])

In [6]:
envios['fecha_norm'] = envios['fecha'].apply(lambda x : date(x.year,x.month,1))

In [7]:
envios['month'] = pd.to_datetime(envios['fecha_norm']).dt.month

In [8]:
envios = envios[envios['month'].isin([9,10])]

In [9]:
aggregattion = {
    'unidades_despachadas': {
        'unidades_despachadas_sum': 'sum',
        'unidades_despachadas_max': 'max',
        'unidades_despachadas_min': 'min',
        'unidades_despachadas_avg': 'mean',
        'num_unidades_despachadas' : 'count'
    },
    'cantidad_envios': {
        'cantidad_envios_sum': 'sum',
        'cantidad_envios_max': 'max',
        'cantidad_envios_min': 'min',
        'cantidad_envios_avg': 'mean',
        'num_cantidad_envios' : 'count'
    },
    'fecha':{
        'fecha_envio_max': 'max',
        'fecha_envio_min': 'min'
    }
    
}

In [10]:
envios = envios.groupby(['id_pos','fecha_norm']).agg(aggregattion).reset_index()

/opt/anaconda3/envs/signalenv/lib/python3.7/site-packages/pandas/core/groupby/generic.py:1315: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

In [11]:
# Renombramos las columnas
envios.columns = ['id_pos','fecha_norm','unidades_despachadas_sum','unidades_despachadas_max','unidades_despachadas_min','unidades_despachadas_avg','num_unidades_despachadas','cantidad_envios_sum','cantidad_envios_max','cantidad_envios_min','cantidad_envios_avg','num_cantidad_envios','fecha_envio_max','fecha_envio_min']

#### unidades_despachadas_sum

In [12]:
envios_tmp = envios.pivot('id_pos', 'fecha_norm', 'unidades_despachadas_sum')

In [13]:
envios_tmp.head()

fecha_norm  2012-10-01  2013-09-01  2013-10-01  2014-09-01  2014-10-01
id_pos
3142              12.0         NaN        12.0         NaN        12.0
3143               NaN        36.0         NaN        24.0         NaN
3144              48.0       108.0         NaN        60.0        36.0
3146              12.0         NaN        12.0         NaN        12.0
3147              48.0        60.0         NaN        48.0         NaN

In [14]:
envios_tmp.columns = ['unidades_despachadas_sum' + str(c.year) + str(c.month) for c in envios_tmp.columns if c != 'id_pos']

In [15]:
envios_final = envios_tmp.copy()

In [16]:
envios_final.head()

,unidades_despachadas_sum201210,unidades_despachadas_sum20139,unidades_despachadas_sum201310,unidades_despachadas_sum20149,unidades_despachadas_sum201410
id_pos,,,,,
3142,12.0,NaN,12.0,NaN,12.0
3143,NaN,36.0,NaN,24.0,NaN
3144,48.0,108.0,NaN,60.0,36.0
3146,12.0,NaN,12.0,NaN,12.0
3147,48.0,60.0,NaN,48.0,NaN

In [17]:
del envios_tmp

#### unidades_despachadas_max

In [16]:
envios_tmp = envios.pivot('id_pos', 'fecha_norm', 'unidades_despachadas_max')

In [17]:
envios_tmp.columns = ['unidades_despachadas_max' + str(c.year) + str(c.month) for c in envios_tmp.columns if c != 'id_pos']

In [18]:
envios_final = pd.merge(envios_final, envios_tmp, how='inner', left_index=True , right_index=True)

In [19]:
del envios_tmp

#### unidades_despachadas_min

In [20]:
envios_tmp = envios.pivot('id_pos', 'fecha_norm', 'unidades_despachadas_min')

In [21]:
envios_tmp.columns = ['unidades_despachadas_min' + str(c.year) + str(c.month) for c in envios_tmp.columns if c != 'id_pos']

In [22]:
envios_final = pd.merge(envios_final, envios_tmp, how='inner', left_index=True , right_index=True)

In [23]:
del envios_tmp

#### unidades_despachadas_avg

In [24]:
envios_tmp = envios.pivot('id_pos', 'fecha_norm', 'unidades_despachadas_avg')

In [25]:
envios_tmp.columns = ['unidades_despachadas_avg' + str(c.year) + str(c.month) for c in envios_tmp.columns if c != 'id_pos']

In [26]:
envios_final = pd.merge(envios_final, envios_tmp, how='inner', left_index=True , right_index=True)

In [27]:
del envios_tmp

#### num_unidades_despachadas

In [28]:
envios_tmp = envios.pivot('id_pos', 'fecha_norm', 'num_unidades_despachadas')

In [29]:
envios_tmp.columns = ['num_unidades_despachadas' + str(c.year) + str(c.month) for c in envios_tmp.columns if c != 'id_pos']

In [30]:
envios_final = pd.merge(envios_final, envios_tmp, how='inner', left_index=True , right_index=True)

In [31]:
del envios_tmp

#### cantidad_envios_sum

In [32]:
envios_tmp = envios.pivot('id_pos', 'fecha_norm', 'cantidad_envios_sum')

In [33]:
envios_tmp.columns = ['cantidad_envios_sum' + str(c.year) + str(c.month) for c in envios_tmp.columns if c != 'id_pos']

In [34]:
envios_final = pd.merge(envios_final, envios_tmp, how='inner', left_index=True , right_index=True)

In [35]:
del envios_tmp

#### cantidad_envios_max

In [36]:
envios_tmp = envios.pivot('id_pos', 'fecha_norm', 'cantidad_envios_max')

In [37]:
envios_tmp.columns = ['cantidad_envios_max' + str(c.year) + str(c.month) for c in envios_tmp.columns if c != 'id_pos']

In [38]:
envios_final = pd.merge(envios_final, envios_tmp, how='inner', left_index=True , right_index=True)

In [39]:
del envios_tmp

#### cantidad_envios_min

In [40]:
envios_tmp = envios.pivot('id_pos', 'fecha_norm', 'cantidad_envios_min')

In [41]:
envios_tmp.columns = ['cantidad_envios_min' + str(c.year) + str(c.month) for c in envios_tmp.columns if c != 'id_pos']

In [42]:
envios_final = pd.merge(envios_final, envios_tmp, how='inner', left_index=True , right_index=True)

In [43]:
del envios_tmp

#### cantidad_envios_avg

In [44]:
envios_tmp = envios.pivot('id_pos', 'fecha_norm', 'cantidad_envios_avg')

In [45]:
envios_tmp.columns = ['cantidad_envios_avg' + str(c.year) + str(c.month) for c in envios_tmp.columns if c != 'id_pos']

In [46]:
envios_final = pd.merge(envios_final, envios_tmp, how='inner', left_index=True , right_index=True)

In [47]:
del envios_tmp

#### num_cantidad_envios

In [48]:
envios_tmp = envios.pivot('id_pos', 'fecha_norm', 'num_cantidad_envios')

In [49]:
envios_tmp.columns = ['num_cantidad_envios' + str(c.year) + str(c.month) for c in envios_tmp.columns if c != 'id_pos']

In [50]:
envios_final = pd.merge(envios_final, envios_tmp, how='inner', left_index=True , right_index=True)

In [51]:
del envios_tmp

#### fecha_envio_max

In [52]:
envios_tmp = envios.pivot('id_pos', 'fecha_norm', 'fecha_envio_max')

In [53]:
envios_tmp.columns = ['fecha_envio_max' + str(c.year) + str(c.month) for c in envios_tmp.columns if c != 'id_pos']

In [54]:
envios_final = pd.merge(envios_final, envios_tmp, how='inner', left_index=True , right_index=True)

In [55]:
del envios_tmp

#### fecha_envio_min

In [56]:
envios_tmp = envios.pivot('id_pos', 'fecha_norm', 'fecha_envio_min')

In [57]:
envios_tmp.columns = ['fecha_envio_min' + str(c.year) + str(c.month) for c in envios_tmp.columns if c != 'id_pos']

In [58]:
envios_final = pd.merge(envios_final, envios_tmp, how='inner', left_index=True , right_index=True)

In [59]:
del envios_tmp

In [60]:
envios_final = envios_final.reset_index()

#### Saving Dataset

In [61]:
envios_final.to_csv('../data/processed/envios_pivoted.csv', index=False, sep=';')

In [63]:
envios.to_csv('../data/processed/envios_agg.csv', index=False, sep=';')